*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav input{
    background-color:rgba(27,49,76,1) !important;
}
nav button.sign-in {
    width:5%;
    background-color: rgba(27, 49, 76, 1) !important;
}
body{
    background-color: rgba(12,36,63,1);
}
.darknavbar{
    background-color:rgba(14,35,56,1);
}
.lightnavbar{
    background-color:rgba(20,35,56,1);
}
h2 button.accordion-button:focus{
    background-color:rgba(14,35,56,1);
}
h3 button.accordion-button{
    background-color: transparent !important;
}

input::placeholder{
    color: white !important;
}
input.form-control{
    background-color:rgba(12,36,63,1);
    border: transparent;
}
button .hover-secondary:hover{
    background-color: gray !important;
}
.list-group-item{
    background-color:rgba(14,35,56,0) !important;
    border: none;
}
a.hover-a:hover{
color:lightslategray;
}
.card-bg{
    background-color: rgba(27 ,52 ,77,1);
}
.card-bg-time{
    background-color: #60749614;
}
.position-absolute-img{
position:relative;
bottom:30px;
}
p.card-text.text-sm
{
font-size:0.875rem !important;
    
}
.light-blue{
    color:rgba(96,156,255,1);
}
button.red-dark:hover{
    background-color: rgba(255,45,32,1);
    color: white !important;
}
.red-dark{
    background-color:rgba(232,28,77,.2);
}
.card img:hover{
    transform: scale(1.1);
}
section.card-hover .card:hover{
    background-color:rgba(128,128,128,0.1) !important;
}
.card-body h6:hover
{
color: aqua !important;
}
.card-footer a:hover{
    color: white !important;
}
.card{
    cursor: pointer;
}
.text-13{
    font-size: .8125rem;
}
.text-10 {
    font-size: .625rem;}
    
   a.hover-a:hover{
    color: gray !important;
    }
.carousel-indicators{
        position: absolute;
        top: 100% !important;

    }
    .card img.not-hover{
        width:60px;
    }
    .card img.not-hover:hover{
        transform:scale(1);
    }
    .mw-24{
        max-width:24rem;
    }

    span.hover-white:hover{
        color: white !important;
    }
.input-group input::placeholder{
    font-size:13px !important;
}
    @media(max-width:767px){
        .card-overflow{
            min-width:100% !important;
        }        
    }
    @media(max-width:768px){
        .card img:hover{
            transform: scale(1);
        }
        .img-instagram{
            position: absolute;
            margin-bottom:35px;
            right:30%;
            width:45%;
            transform: scale(0) translateY(-50%,50%); 
        }
    }
    @media(min-width:768px){
        .img-instagram{
            width:25%;
            position: relative;
            bottom:10%;
        }
        .w-17{
            width:17%;
        }}
        @media(max-width:980px){
            .w-17{
                width:10%;
                min-width:10%;
            }
            .w-10{
                width:10% !important;
            }
    }
    .img-position{
        position: absolute;
        top:50%;
        left:5%;
    }
    @media(min-width:992px){
        .w-lg-50{
            width:50% !important;
        }
        .position-relative-lg{
            position: relative;
            top:-10%;
        }
        .position-absolute-lg{
            position:relative;
            bottom: 60%;
        }
        .img-instagram{
            width: 10%;
            transform: scale(3) translateX(-10%);
            
        }
    }